/*/// FOOTER CSS ///*/

:root {
	/* --black: #000; */
	/* --mgray: #595959; */
	/* --white: #FFF; */
	
	--black: #050505;
	--dgray: #1a1a19;
	--mgray: #7A7D7F;
	--lgray: #bbbab9;
	--white: #fafafa;
}

footer {
	background: var(--black);
	
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 20px;
	row-gap: 20px;
	flex-wrap: wrap;
	
	/* Unselectable */
	
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	 user-select: none;
}

footer .footerSection {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	
	text-decoration: none;
}

footer svg {
	width: 30px;
	height: auto;
}

footer p {
	color: var(--mgray);
	font-size: 12px;
	font-family: Dela Gothic One;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 2px;
}

footer a:-webkit-any-link {
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
}
