:root {
	--black: #000;
	--gray: #595959;
	--white: #FFF;
}

@font-face {
	font-family: 'Dela Gothic One';
	src: url('dela gothic one/font.ttf');
}

body {
    background: var(--black);
	position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

header {
    display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1vw;
}

h1 {
	color: var(--white);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-size: 7vw;
	font-family: Dela Gothic One;
	letter-spacing: 0.5vw;
	text-transform: uppercase;
}

p {
	color: var(--gray);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-size: 2vw;
	font-family: Dela Gothic One;
	text-transform: lowercase;
}

* {
    margin: 0px;
    padding: 0px;
	
	/* Unselectable */
	
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	 user-select: none;
}