body {
    background: #2E2E37;
}

header {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 0px;
    gap: 0px;

    position: relative;
    max-width: 100%;
    width: 100%;

    background: #2E2E37;
    box-shadow: 0px 5px 5px rgba(26, 26, 33, 0.5);
}

#logo {
    width: auto;
    height: 50px;
	margin-left: 50px;
    margin-right: 50px;
	
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#logo path {
    fill: white;
}

* {
    margin: 0px;
    padding: 0px;
}