/*/// MAIN PAGE CSS FILE ///*/

/*/// COLORS ///*/

:root {
	/* --black: #000; */
	/* --mgray: #595959; */
	/* --white: #FFF; */
	
	--black: #050505;
	--dgray: #1a1a19;
	--mgray: #7A7D7F;
	--lgray: #bbbab9;
	--white: #fafafa;
}

/*/// FONTS ///*/

@font-face {
	font-family: 'Dela Gothic One';
	src: url('dela gothic one/font.ttf');
}

@font-face {
	font-family: 'Inter';
	src: url('inter/font.ttf');
}

/*/// LOADER ///*/

#hide{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: var(--black);
	z-index: 99; /* Higher than anything else in the document */
}
 
.black {
	background-color: var(--black);
}

.white {
	background-color: var(--white);
}
 
/*/// HEADER ///*/

header {
	min-height: 100vh;
	padding: 60px 40px;
	box-sizing:border-box;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	overflow: hidden;
}


header * {
	transition: all 0.1s ease-out;
}
	

header h1 {
	color: var(--white);
	
	text-align: center;
	font-family: Dela Gothic One;
	
	font-size: 128px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 12.8px;
	text-transform: uppercase;
}

header h2 {
	color: var(--mgray);
	
	text-align: center;
	font-family: Inter;
	
	font-size:  30px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

/*// NOTAPAGE //*/

.top {
	display: block;
	margin-top: -25px;
	height: 25px;
	border-radius: 25px 25px 0px 0px;
	box-sizing:border-box;
	overflow: hidden;
}

.notapage {
	padding: 60px 40px;
	box-sizing:border-box;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	overflow: hidden;
}

.text {
	margin-bottom: 25px;
	display: flex;
	max-width: 960px;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 20px;
	flex: 1 0 0;
	align-self: center;
	flex-wrap: wrap;
}

.text p {
	background-color: var(--white);
	display: flex;
	padding: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	
	color: var(--black);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	
	border-radius: 25px;
	border: 5px solid var(--black);
	background: var(--white);
	box-shadow: 8px 8px 0px 0px var(--black);
}

/*/// MAIN ///*/

main {
	min-height: 100vh;
	padding: 60px 40px;
	box-sizing:border-box;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	overflow: hidden;
}

main .profiles {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	gap: 40px;
	flex-wrap: wrap;
}

.pfp {
	position: relative;
	
	width: 256px;
	height: 256px;
	border-radius: 9999px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	transition: transform 0.5s ease;
	transform-style: preserve-3d;
	will-change: transform;
}

.pfp * {
	width: 256px;
	height: 256px;
	border-radius: 9999px;
	flex-shrink: 0;
	
	transition: all 0.1s ease-in-out;
}

.pfp s {
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 6%);
}

.pfp:hover > * {
	width: 272px;
	height: 272px;
	border-radius: 9999px;
	
	transition: all 0.1s ease-in-out;
}

.pfp:hover > s {
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	
	margin: -8px;
	
	flex-shrink: 0;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 6%);
}

/*// OTHER SIZES //*/

/*// TABLET //*/

@media (max-width:1200px){
	
	/*// HEADER //*/
	
	header {
		padding: 30px 20px;
	}
	
	header h1 {
	font-size: 64px;
	letter-spacing: 6.4px;
	}
	
	header h2 {
		font-size:  25px;
	}
	
	/*// NOTAPAGE //*/
	
	.notapage {
		padding: 30px 20px;
	}
	
	.text p {
		font-size: 18px;
		padding: 18px;
		border-radius: 20px;
		border: 4px solid var(--black);
		box-shadow: 6px 6px 0px 0px var(--black);
	}
	
	/*/// MAIN ///*/
	
	main {
		padding: 30px 20px;
	}
	
	.pfp {
		position: relative;
		
		width: 192px;
		height: 192px;
		border-radius: 9999px;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.pfp * {
		width: 192px;
		height: 192px;
		border-radius: 9999px;
		
		transition: all 0.1s ease-in-out;
	}
	
	.pfp:hover > * {
	width: 202px;
	height: 202px;
	border-radius: 9999px;
	
	transition: all 0.1s ease-in-out;
	}
	
	.pfp:hover > s {
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	
	margin: -5px;
	
	flex-shrink: 0;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 6%);
	}
}

/*// MOBILE //*/

@media (max-width:600px){
	
	/*// HEADER //*/
	
	header {
		padding: 15px 10px;
	}
	
	header h1 {
	font-size: 32px;
	letter-spacing: 3.2px;
	}
	
	header h2 {
		font-size: 20px;
	}
	
	/*// NOTAPAGE //*/
	
	.notapage {
		padding: 15px 10px;
	}
	
	.text p {
		font-size: 16px;
		padding: 16px;
		border-radius: 15px;
		border: 3px solid var(--black);
		box-shadow: 4px 4px 0px 0px var(--black);
	}
	
	/*/// MAIN ///*/
	
	main {
		padding: 15px 10px;
	}
	
	.pfp {
		position: relative;
		
		width: 128px;
		height: 128px;
		border-radius: 9999px;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.pfp * {
		width: 128px;
		height: 128px;
		border-radius: 9999px;
		
		transition: all 0.1s ease-in-out;
	}
	
	.pfp:hover > * {
	width: 136px;
	height: 136px;
	border-radius: 9999px;
	
	transition: all 0.1s ease-in-out;
	}
	
	.pfp:hover > s {
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	
	margin: -5px;
	
	flex-shrink: 0;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 6%);
	}
}

/*/// OTHER ///*/

body::-webkit-scrollbar {
	
	width: 0 !important
}

html, body {
	width: 100vw;
	overflow-x: hidden;
}

* {
	
	Unselectable
	
	/* -moz-user-select: none; */
	/* -khtml-user-select: none; */
	/* -webkit-user-select: none; */
	 /* user-select: none; */
	 
	/* No Scrollbar*/
	
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}
