.container {  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 30px;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "a b b"
    "a c c"
    "f f f";
}

.a { grid-area: a; }

.f { grid-area: f; }

.b { grid-area: b; }

.c { grid-area: c; }
